body{
    background-color: rgb(159, 69, 69);
    /* rgb(172, 96, 96) */
}

.default_look{
    color: #fff;
}

.timer{
    font-size: 100px;
    color: #fff;
}

button{
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    transform: translateY(2px);
    filter: brightness(80%);
}

.pomodoro{
    background-color: #650000;
    border-radius: 5px;
    
}



.button_menu{
    background-color: rgb(172, 96, 96);
    border: none;
    color: #fff;
    font-size: larger;
    margin-right: 10px;
    padding: 10px;
    
    
}

.main_button_menu {
    background-color: transparent; /* Da budu providni po defaultu */
    border: none;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

/* Posebna klasa samo za ono dugme koje je trenutno izabrano */
.active_tab {
    background-color: #650000;
    border-radius: 4px;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* padding: 10px 10px; */
    border-bottom: 1px solid #650000;
    margin-bottom: 40px;
}



.header_menu{
    list-style: none;
    display: flex;
    float: right;
    gap: 10px;
    margin: 0;
    padding: 0;

}

.main_section{
    background-color: rgb(172, 96, 96);
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 5px;
}

.main_menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.main_button_menu{
    background-color: rgb(172, 96, 96);
    border: none;
    color: white;
    border-radius: 5px;
    
}

.pomodoro_text{
    padding: 10px;
     border-radius: 15px;

}

.timer{
    display: flex;
    justify-content: center;
}

.start_button_div{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: large;
}

.start_button{
    font-size: 30px;
    color: rgb(159, 69, 69);
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-weight: bold;
    border: none;
}

.number_1{
    display: flex ;
    justify-content: center;
    color: rgb(212, 115, 115);
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.number_1:hover{
    color: white;
}

.time_to_focus{
    display: flex ;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    
}

.lower_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    margin: 0 70px 20px 70px;

}


.tasks{
    color: #fff;
    font-size: 25px;
    margin-bottom: 25px;
}

.three_dots{
    margin-bottom: 25px;
    
}

.three_dots_button{
    background-color: rgb(172, 96, 96);
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    
}


.three_dots_clean{
    margin: 7px;
}

.add_task{
    display: flex;
    justify-content: center;
}

.add_task :hover{
    background-color: #990101;
}

.add_task_button{
    
    background-color: rgb(121, 0, 0);
    color: #c0bfbf;
    border: 2px dashed #c0bfbf;
    font-size: 20px;
    width: 100%;
    height: 80px;
    margin: 0 70px 0 70px;
    border-radius: 15px;
    
    
}

.add_task_button:hover{
    color: white;
}





